main/.emacs.d/ido.last
main/.emacs.d/recentf
main/.emacs.d/backups
main/.emacs.d/eshell
pass.json
main/.config/ranger/bookmarks
main/.emacs.d/elpa
main/.config/ranger/history
main/.emacs.d/auto-save-list/
api.js
.git.bfg-report
*.target.wants
.mc-lists.el
gen/
colors.css
