id_rsa*
known_hosts
authorized_keys
pulse
dconf
chromium
Atom
projectile-bookmarks.eld
ido.last
recentf
backups
eshell
projectile.cache
pass.json
main/.config/ranger/bookmarks
main/.emacs.d/elpa
main/.config/ranger/history
main/.emacs.d/auto-save-list/
api.js
.git.bfg-report
*.target.wants
.mc-lists.el
gen/
colors.css
main/.atom/*
!main/.atom/config.cson
!main/.atom/keymap.cson
/main/.emacs.d/recentf~
main/.emacs.d/url/
main/.emacs.d/bookmarks
