[colors]
background		= ${xrdb:URxvt.color0:}
foreground		= ${xrdb:URxvt.foreground:}
barFocus		= ${xrdb:URxvt.color4:}
barUnfocus		= ${xrdb:URxvt.color8:}
barMode			= ${xrdb:URxvt.color1:}

[bar/top]
width			= 100%
border-size		= 10
fixed-center  		= true
height			= 27
background		= ${colors.background}
foreground		= $(colors.foreground}
radius 			= 3.0
modules-left		= i3
modules-center		= date
modules-right 		= memory cpu volume mail music
font-0 			= FontAwesome:size=10;2
font-1 			= Inconsolata:size=10;2
module-margin		= 4

[module/volume]
type = internal/volume

format-volume = <ramp-volume><label-volume>

label-volume = %percentage%%
label-volume-foreground = ${colors.foreground}
label-volume-background = ${colors.background}
label-muted = " MUTED "
label-muted-foreground = ${colors.foreground}
label-muted-background = ${colors.background}

ramp-volume-0 = " VOL "
ramp-volume-0-foreground = ${colors.foreground}
ramp-volume-0-background = ${colors.background}
ramp-volume-1 = " VOL "
ramp-volume-1-foreground = ${colors.foreground}
ramp-volume-1-background = ${colors.background}
ramp-volume-2 = " VOL "
ramp-volume-2-foreground = ${colors.foreground}
ramp-volume-2-background = ${colors.background}
ramp-volume-3 = " VOL "
ramp-volume-3-foreground = ${colors.foreground}
ramp-volume-3-background = ${colors.background}

[module/i3]
type			= internal/i3
strip-wsnumbers		= true
format			= <label-state> <label-mode>

label-focused-background = ${colors.barFocus}
label-focused-foreground = ${colors.barUnfocus}
label-focused-padding = 4

label-unfocused-background = ${colors.barUnfocus}
label-unfocused-foreground = ${colors.foreground}
label-unfocused-padding = 4

label-mode-background = ${colors.barMode}
label-mode-foreground = ${colors.background}
label-mode-padding = 4


[module/date]
type			= internal/date
interval		= 10
date			= %b %d
time			= %I:%M%p
label			= %date%, %time%
label-foreground = ${colors.foreground}

[module/cpu]
type = internal/cpu
label-foreground = ${colors.foreground}
label = CPU %percentage%%

[module/memory]
type = internal/memory
label-foreground = ${colors.foreground}
label = RAM %percentage_used%%

[module/music]
type = custom/script
interval = 2
module-margin = 10

label = %output:0:50:...%
label-foreground = ${colors.foreground}
exec = ~/dotfiles/bin/music

click-left = muse pause

[module/mail]
type = custom/script
interval = 120
format = <label>
label-foreground = ${colors.foreground}
exec = mail $(xquery color1)
click-left = chrome gmail.com && i3-msg workspace "4: "

[global/wm]
margin-top		= 5
margin-bottom		= 5
