# Emacs
alias e="em"
alias E="em -g"
alias re="restart-emacs"

# Git
alias git="hub"
alias g="git"
alias gs="git status"
alias gd="git diff"
alias gp="git push"

# Shortcuts
alias rw="sudo restart-wifi"
alias f="find . -name"
alias t="tmux"
alias mk="make"
alias r="ranger"
alias s='sudo'
alias m="~/bin/support/polybar/mail show"
alias wl="wc -l"
alias ax="chmod a+x"
alias xx="atool -x"

alias dfs="cd ~/.files"
alias wifi="sudo wifi-menu"
alias root="sudo -s"
alias open="xdg-open"
alias xup="xrdb -I$HOME ~/.Xresources"
alias diff="colordiff"
alias json="python -m json.tool"

# Unmount
alias um='sudo umount ~/mnt'
alias uml='sudo umount -l ~/mnt'

# Info
alias cpu="ps -eo pid,comm,%mem,%cpu --sort=-%cpu | head -n 10"
alias fsys="df --output=pcent,target  --type=ext4"

# Clipboard
alias cpy="xclip -selection clipboard"
alias pst="xclip -o -selection clipboard"

# Browser
alias browser="$BROWSER"
alias chrome="/usr/bin/chromium >/dev/null 2>&1"

# Warn me when I rm multiple things
alias rm="rm -I"

# Ls, now with color!
alias ls="exa"
alias l="ls"
alias la="ls -a"
alias ll="ls -l"
alias lla="ls -la"

# Weather
alias weather="curl wttr.in 2>/dev/null | head -n 7 | tail -n +3"
alias weather-all="curl wttr.in 2>/dev/null | tail -n 33 | head -n 30"

# cd shortcuts
alias ,="cd .."
alias ,,="cd ../.."

# Better Defaults
alias pgrep="pgrep -l"
alias less="less -R"
alias mosh="mosh --experimental-remote-ip=remote"
alias grep="grep --color='auto'"
alias df="df -h"
alias du="du -sh"
alias startx="startx >/tmp/startx.out 2>&1"