[user]
	email = william_povell@brown.edu
	name = Will Povell
[alias]
	s  = status
  a  = add
	ca = commit -am
  c  = commit -m
  d  = diff
	uncommit = reset HEAD^
  open = !atom  `~/bin/support/git-open`
