[user]
  email = william_povell@brown.edu
  name = Will Povell
[push]
  default = current
[alias]
  s  = status -s

  a  = add
  aa = add .

  ca = commit -am
  cm = commit -m
  c  = commit

  st = stash
  sp = stash pop
  sl = stash list
  ss = stash show -p

  ch = checkout
  m  = checkout master
  mg = merge
  b  = branch
  r  = reset
  d  = diff
  l  = log

  p  = push -u
  pf = push -f
  pl = pull

  shallow = clone --depth 1
  amend = commit --amend
  uncommit = reset HEAD^
  ls = ls-files

  get = !~/bin/support/git-get
  open = !E `~/bin/support/git-open`