[user]
  email = william_povell@brown.edu
  name = Will Povell
[push]
  default = current
[alias]
  s  = status -s
  a  = add
  aa = add .
  ca = commit -am
  cm = commit -m
  c  = commit
  ch = checkout
  b  = branch
  st = stash
  sp = stash pop
  r  = reset
  d  = diff
  p  = push -u
  pf = push -f
  pl = pull
  l  = log
  amend = commit --amend
  uncommit = reset HEAD^
  open = !E `~/bin/support/git-open`