@import 'colors.css';

/* Hide things */
#window-controls, .scrollbutton-up, .scrollbutton-down, #alltabs-button, #PersonalToolbar, .tab-close-button, .tabs-newtab-button, #back-button, #forward-button, #toolbar-menubar, #customizableui-special-spring2, #customizableui-special-spring1, #pageActionButton, #PanelUI-menu-button, .autocomplete-history-dropmarker, #PanelUI-button, #page-action-buttons, .urlbar-go-button, .urlbar-history-dropmarker {
    display: none !important;
}

/* Get rid of fullscreen animation */
#navigator-toolbox[fullscreenShouldAnimate] {
    transition: none !important;
}

/* Fix private browsing logo */
.private-browsing-indicator {
    background-position: top!important;
    margin-top: 5px;
}

/* Set font */
.tab-text, .urlbar-input-box, .autocomplete-richlistitem {
    font-family: Inconsolata!important;
}

/* Prevent insta-click on right click menu */
#contentAreaContextMenu{ margin: 2px 0 0 2px }

/* Center tab text */
.tab-label {
   -moz-box-flex: 1 !important;
   text-align: center !important;
}

/* Make active tab wider */
/* tab[selected="true"] { min-width: 200px !important; } */

/* Hide line between tabs */
.tabbrowser-tab:not([visuallyselected="true"]) {
    color: transparent !important;
}

/* Make urlbar be square */
#urlbar {
    border-radius: 0 !important;
}

/* Remove white flash on tab load */
.browserContainer {
  background-color: var(--color4) !important;
}

/* Hide search placeholder text */
::-moz-placeholder {
    color: transparent;
}

/* Gets ride of white line after chrome */
#navigator-toolbox::after{
    display: none !important;
}

/* Change text highlight in url */
.autocomplete-textbox::-moz-selection {
    color:  var(--color0) !important;
    background-color:  var(--foreground) !important;
}

/* Fixes small border when tabs fill top. */
.arrowscrollbox-scrollbox {
    margin: -1px;
}

/* Make identity text same as icon */
#identity-icon-labels {
    color: rgb(18, 188, 0)!important;
}

/* Coloring */
.tab-content[selected=true] {
    background-color: var(--color4);
    color:  var(--color14);
}

.tab-content:not([selected=true]) {
    background-color:  var(--color0);
    color:  var(--foreground);
}

tabs {
    background-color:  var(--color0) !important;
}

toolbaritem {
    color: var(--color14) !important;
    background-color: var(--color4) !important;
}

toolbarbutton, textbox#urlbar, #PopupAutoCompleteRichResult {
    box-shadow: none !important;
    background-color: var(--color4) !important;
    border-color: var(--color4) !important;
    color: var(--foreground) !important;
}

findbar, sidebarheader, browser#sidebar, #bookmarksPanel, #history-panel, .panel-arrowcontent, .autocomplete-textbox, .urlbar-input-box {
    color: var(--color0) !important;
    background-color: var(--color4) !important;
}

.autocomplete-richlistitem[selected="true"] {
    background-color:  var(--foreground) !important;
    color: var(--color0) !important;
}

.autocomplete-richlistitem:not([selected="true"]) {
    color:  var(--foreground) !important;
}
