@import '/css/colors.css';
@import '/css/font.css';

/* Resets */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0px;
}

:root {
    height: 100%;
}

/* Main */
body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
    min-height: 100%;
    background-color: var(--bg);
    color: var(--fg);
    font-family: 'Fira Code', fontawesome, sans-serif;
}

#content {
    max-width: 1000px;
    width: 100%;
    height: 20vh;
    padding: 16px;
    margin-top: 10vh;
}

a, a:visited {
    color: var(--fg);
    text-decoration: none;
}

/* Time */
#timeWrapper {
    width: 100%;
    text-align: center;
    top: 10%;
    margin: 0 auto;
}

#time {
    font-size: 70px;
}

#date {
    font-size: 40px;
}

/* HN */
#hn {
    text-align: left;
    list-style: none;
    display: none;
    margin: 20px 0;
}

/* XKCD */
#xkcd {
    width: 700px;
    display: none;
    position: fixed;
    margin: 0 auto;
}

#xkcd p {
    color: black;
    margin-top: 20px;
    font-size: 20px;
}

/* Search */
#bar {
    display: none;
}

#searchWrap {
    position: relative;
}

#searchWrap>input {
    border: none;
    width: 100%;
}

#search, #autocomplete {
    font-size: 50px;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
}

#search {
    color: var(--fg);
    z-index: 11;
}

#autocomplete {
    color: var(--fg);
    z-index: 10;
}

#suggestions {
    font-size: 20px;
    padding-left: 0;
    padding-top: 60px;
    list-style: none;
}

/* Weather */
#weatherWrapper {
    margin-top: 30px;
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
}

#location {
    grid-row-start: 1;
    text-align: left;
    width: 90%;
    margin-bottom: 5px;
}

#weatherWrapper>.day {
    grid-row-start: 2;
    width: 140px;
    border: 1px solid var(--fg);
    padding: 10px;
    width: 90%;
}

#weatherWrapper>.day>div {
    text-align: center;
}

.bold {
    font-weight: bold;
}
