'.platform-linux atom-text-editor':
  'alt': 'abort!'
  'alt-f1': 'window:toggle-menu-bar'
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-tab ^ctrl': 'unset!'
  'ctrl-shift-tab': 'pane:show-previous-item'
  'ctrl-shift-tab ^ctrl': 'unset!'
  'ctrl-x': 'unset'
  'ctrl-x-s': 'core:save'
  'ctrl-e': 'editor:move-to-end-of-line'
  'ctrl-a': 'editor:move-to-beginning-of-screen-line'
  'ctrl-shift-a': 'core:select-all'
  'ctrl-k': 'editor:cut-to-end-of-line'
  'alt-f': 'editor:move-to-end-of-word'
  'alt-b': 'editor:move-to-beginning-of-word'
  'ctrl-y': 'core:paste'
  'ctrl-space': 'mark:toggle'
  'ctrl-shift-space': 'mark:select-to-mark'
  'ctrl-alt-space': 'mark:goto-mark'
  'ctrl-d': 'core:delete'
  'ctrl-q': 'find-and-replace:select-next'
  'ctrl-z': 'core:undo'
  'alt-left': 'window:focus-pane-on-left'
  'alt-right': 'window:focus-pane-on-right'

'body':
  'ctrl-k space': 'unset!'
  'ctrl-k ctrl-a': 'unset!'
  'ctrl-k ctrl-g': 'unset!'
  'ctrl-k ctrl-k': 'unset!'
  'ctrl-k up': 'unset!'
  'ctrl-k down': 'unset!'
  'ctrl-k left': 'unset!'
  'ctrl-k right': 'unset!'
  'ctrl-k ctrl-w': 'unset!'
  'ctrl-k ctrl-alt-w': 'unset!'
  'ctrl-k ctrl-p': 'unset!'
  'ctrl-k ctrl-n': 'unset!'
  'ctrl-k ctrl-up': 'unset!'
  'ctrl-k ctrl-down': 'unset!'
  'ctrl-k ctrl-left': 'unset!'
  'ctrl-k ctrl-right': 'unset!'
'atom-workspace atom-text-editor':
  'ctrl-k ctrl-u': 'unset!'
  'ctrl-k ctrl-l': 'unset!'
'atom-workspace atom-text-editor:not([mini])':
  'ctrl-k ctrl-0': 'unset!'
  'ctrl-k ctrl-1': 'unset!'
  'ctrl-k ctrl-2': 'unset!'
  'ctrl-k ctrl-3': 'unset!'
  'ctrl-k ctrl-4': 'unset!'
  'ctrl-k ctrl-5': 'unset!'
  'ctrl-k ctrl-6': 'unset!'
  'ctrl-k ctrl-7': 'unset!'
  'ctrl-k ctrl-8': 'unset!'
  'ctrl-k ctrl-9': 'unset!'
'.platform-win32, .platform-linux': 'ctrl-k ctrl-b': 'unset!'
'.platform-win32 .tree-view, .platform-linux .tree-view':
  'ctrl-k right': 'unset!'
  'ctrl-k l': 'unset!'
  'ctrl-k left': 'unset!'
  'ctrl-k h': 'unset!'
  'ctrl-k up': 'unset!'
  'ctrl-k k': 'unset!'
  'ctrl-k down': 'unset!'
  'ctrl-k j': 'unset!'
'.platform-win32 atom-text-editor, .platform-linux atom-text-editor':
  'ctrl-k ctrl-d': 'unset!'
