@import '../../../../.www/css/colors.css';

/** Hide things **/
#PersonalToolbar,                /* Bookmark bar below omnibar */
.tab-close-button,               /* Close button on tabs */
.tabs-newtab-button,             /* New tab button */
#back-button,                    /* Back button */
#forward-button,                 /* Forward button */
#customizableui-special-spring2, /* Area between omnibar and extensions */
#customizableui-special-spring1,
#PanelUI-button,                 /* Settings hamburger */
#page-action-buttons,            /* ... and reader view */
#window-controls,                /* Fullscreen controls */
#alltabs-button,                 /* Buttons appearing when tabbar is full */
#new-tab-button,
#menubar-items,                  /* Application menu shown on alt */
.urlbar-go-button,               /* -> on right of omnibar */
.urlbar-history-dropmarker {     /* v  on right of omnibar */
    display: none !important;
}

/* Center tab text */
.tab-label {
    -moz-box-flex: 1 !important;
    text-align: center !important;
}

/* Hide search placeholder text */
::-moz-placeholder {
    color: transparent;
}

/* Gets ride of white line after chrome */
#navigator-toolbox::after{
    display: none !important;
}

/* Fixes small border when tabs fill top. */
.arrowscrollbox-scrollbox {
    margin: -1px;
}

/* Set font */
.tab-text, .urlbar-input-box, .autocomplete-richlistitem {
    font-family: Fira Code!important;
}

/** Coloring **/

/* Remove white flash on tab load */
.browserContainer {
    background-color: var(--bg) !important;
}

/* Private Browsing */
#navigator-toolbox {
    background-color: var(--base00) !important;
}

/* Captive Portal Notif */
notification.animated {
    background-color: var(--bg)!important;
    color: var(--fg)!important;
    border-color: var(--base00)!important;
}

/* Find textbox */
textbox.findbar-textbox {
    background-color: var(--bg) !important;
    color: var(--fg);
}

/* Tab colors */
.tab-content[selected=true] {
    background-color: var(--bg);
    color:  var(--base0D);
}

.tab-content:not([selected=true]) {
    background-color:  var(--base00);
    color:  var(--fg);
}

/* Border around omnibar and autocomplete results */
textbox#urlbar, #PopupAutoCompleteRichResult {
    box-shadow: none !important;
    border-color: var(--bg) !important;
}

findbar,                       /* Findbar background */
sidebarheader,                 /* History sidebar background */
toolbarbutton,                 /* Extension button */
toolbaritem,                   /* Border around omnibar */
textbox#urlbar,                /* Omnibar */
#sidebar,                      /* Sidebar */
#sidebar-splitter,             /* Divider between sidebar and content */
#bookmarks-view,               /* Bookmark items */
#historyTree,                  /* History items */
#viewButton,                   /* History view button */
.panel-arrowcontent,           /* Sidebar switcher */
#PopupAutoCompleteRichResult { /* Autocomplete Results */
    border-color: var(--bg) !important;
    color: var(--fg) !important;
    background-color: var(--bg) !important;
}

/* Selected autocomplete is brighter */
.autocomplete-richlistitem[selected="true"] {
    background-color:  var(--fg) !important;
    color: var(--base00) !important;
}
