@-moz-document domain(www.reddit.com) {
    .hohoho, .goldvertisement, .hohoho-header {
        display: none !important;
    }
    @media (max-width: 1000px) {
        .side {
            display: none!important;
        }
    }
}

/* Trying to remove live column, doesn't work */
@-moz-document domain(www.instagram.com) {
    main > section > div:nth-child(3) {
        display: none!important;
    }
}
